.App {
  text-align: center;
}

.navigationBar {
  background-color: #28282b;
  height: 12vh;
  display: flex;
  justify-content: center;
}

.navigationBar form {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 400px;
}
.searchBar {
  background-color: white;
  margin: 1%;
  width: 80%;
  border-radius: 5px;
}

@media (min-width: 1350px) {
  .navigationBar {
    height: 8vh;
  }
}
